:host {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-form {
    min-width: 290px;
    opacity: 0.9;
    padding: 20px;
    margin: 5px 10px;
    border-radius: 5px 0;
    border: 3px solid rgb(217, 247, 187);
}

.form-group {
    margin: 10px 5px;
    text-align: center;
}

.form-group-toLogin, .small-btn{
    margin: 5px 5px;
    text-align: center;
    font-size: 85%; 
    position: relative; 
}

.label-h {
    display: flex;
}

.btn-register {
    background-color: #9acd32;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-height:30px; 
    min-width: 80px;
}

.btn-register:hover {
    background-color: #7aa524;
    transition: 0.7s;
}

.btn-to-login {
    background-color: rgb(60, 164, 233);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    min-height:30px; 
    min-width: 80px;
}

.btn-to-login:hover {
    background-color: rgb(12, 104, 165);
    transition: 0.7s;
}