<section>
	<div class="leaves">
        <div class="set">
            <div><img src="/assets/imgs/pepper_256px_one_green.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_three.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_one_green.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_three.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
        </div>
    </div>
	<img src="/assets/imgs/bg-for-autorizaition.jpg" class="bg">
    <img src="/assets/imgs/pepper_256px_4_green.png" class="pepper">
	<div class="register">
		<h2>Реєстрація</h2>
		<form (ngSubmit)="onSubmit(usersForm)" #usersForm = "ngForm">
			<div class="inputBox">
					<input type="text" class="form-control" [(ngModel)]='user.name' ngModel #name = 'ngModel'
					name="name" placeholder="Ваше ФІО">
			</div>
			<div class="inputBox">
                <input type="email" [(ngModel)]="user.email" ngModel #email = 'ngModel' 
                class="form-control" name="email" placeholder="Ваш адрес пошта">                               
            </div>
			<div class="inputBox">
					<input type="text" class="form-control" 
					[(ngModel)]='user.phone' ngModel #phone = 'ngModel'
					name="phone" placeholder="Ваш номер телефону">
			</div>
			<div class="inputBox">
					<input type="password" class="form-control" 
					[(ngModel)]='user.password' ngModel #password = 'ngModel'
					name="password" placeholder="Ваш пароль">
			</div>						
			<div class="inputBox">						
                <input type="submit" id="btn" value="Зареєструватись">
            </div>
		</form>
		<div class="group">
            <p class="p-group">Маєш обліковий запис?
                <button (click)="goToLogin()" class="btn-to-login">Увійти</button>
            </p>
        </div>
	</div>
</section>

<!-- <div class="container-form">

    <form (ngSubmit)="onSubmit(usersForm)" #usersForm = "ngForm">
        <div class="form-group">
			<label for="name" class="label-h">Name</label>
				<input type="text" class="form-control" 
				[(ngModel)]='user.name' ngModel #name = 'ngModel'
				name="name" placeholder="Your name">
		</div>
		<div class="form-group">
			<label for="email" class="label-h">Email</label>
				<input type="email" class="form-control" 
				[(ngModel)]='user.email' ngModel #email = 'ngModel'
				name="email" placeholder="Your email">
		</div>
		<div class="form-group">
			<label for="phone" class="label-h">Phone</label>
				<input type="text" class="form-control" 
				[(ngModel)]='user.phone' ngModel #phone = 'ngModel'
				name="phone" placeholder="Your number phone">
		</div>
		<div class="form-group">
			<label for="password" class="label-h">Password</label>
				<input type="password" class="form-control" 
				[(ngModel)]='user.password' ngModel #password = 'ngModel'
				name="password" placeholder="Your passwrod">
		</div>						
		<div class="form-group">						            
			<button type="submit" class="btn-register">Sign Up</button>
		</div>
    </form>
	<div class="form-group-toLogin">
		<p>Have an account?
			<button (click)="goToLogin()" class="btn-to-login small-btn">Sign In</button>
		</p>
	</div>
</div> -->
