<section>
    <div class="leaves">
        <div class="set">
            <div><img src="/assets/imgs/pepper_256px_one.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_three.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_one.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_three.png" class="down"></div>
            <div><img src="/assets/imgs/pepper_256px_two.png" class="down"></div>
        </div>
    </div>
    <img src="/assets/imgs/bg-for-autorizaition.jpg" class="bg">
    <img src="/assets/imgs/pepper_256px_4.png" class="pepper">
    <div class="login">
        <h2>Sign In</h2>
        <form (ngSubmit)="onSubmit(usersForm)" #usersForm = "ngForm">
            <div class="inputBox">
                <input type="email" ngModel #email = 'ngModel' 
                class="form-control" name="email" placeholder="Your email">                               
            </div>
            <div class="inputBox">
                <input type="password" ngModel #password = 'ngModel' 
                class="form-control"  name="password" placeholder="Your password">
            </div>
            <ng-container *ngIf="error$ | async as error">
                <span class="error">{{error}}</span>
            </ng-container>
            <div class="inputBox">						
                <input type="submit" id="btn" value="Login">
            </div>
        </form>
        <div class="group">
            <p class="p-group">Don't have an account?
                <button (click)="goToRegister()" class="btn-to-register">Register</button>
            </p>
        </div>
    </div>
</section>
