// :host {
//     display: flex;
// }

.lists-btn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: stretch;
}

.btn-list {
    background-color: rgb(201, 54, 54);
    color: white;
    border: none;
    border-radius: 50px;
    padding: 8px;
    min-height:30px; 
    min-width: 80px;
    margin: 5px 10px;
}

.btn-list:hover {
    background-color: rgb(141, 25, 25);
    transition: 0.7s;
}

.btn-list:focus {
    background-color: rgb(141, 25, 25);
    border: 3px solid rgb(112, 43, 43);
}

