<div class="lists-btn" >
    <button type="submit" class="btn-list" (click)="toggle = !toggle">Налаштування &#8659;</button>
    <button type="submit" class="btn-list-settings" *ngIf="toggle" (click)="goToEdit()">Персональна інформація</button>
    <button type="submit" class="btn-list-settings" *ngIf="toggle">Оновлення фото</button>
    <button type="submit" class="btn-list">Мої друзі</button>
    <button type="submit" class="btn-list">Новини</button>
    <button type="submit" class="btn-list" (click)="goToUserList()">Пошук нових друзів</button>
</div>
