<div class="wrapper">
    <div class="top">
        <ng-container *ngIf="friend$ | async as friend">
            <div class="photo">
                <img [src]="getSource(friend.id_user)" style="width: 100px; height: 100px;">
            </div>
            {{friend.name}}
        </ng-container>
        <ng-container *ngIf="user$ | async as user">
            <div class="photo">
                <img [src]="getSource(user.id_user)" style="width: 100px; height: 100px;">
            </div>
            {{user.name}}
        </ng-container>
        <ng-container *ngIf="messages$ | async as messageList">
            <ul>
                <li *ngFor="let message of messageList" 
                [ngClass]="message.id_user === +userID ? 'right': 'left'">{{message.message}}</li>
            </ul>
        </ng-container>
    </div>
    <div class="bottom">
        <ng-container>
            <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
                <div class="chatsendmsg">
                    <textarea placeholder="  Написати повідомлення..."   [formControl]="msgField">
                    
                    </textarea>

                    <button class="btn-send" type="submit" [disabled]="!chatForm.valid">Надіслати</button>
                </div>
            </form>
        </ng-container>
    </div>
</div>