/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
.lists-btn {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
}

.btn-list {
  background-color: rgb(201, 54, 54);
  color: white;
  border: none;
  border-radius: 50px;
  padding: 8px;
  min-height:30px;
  min-width: 80px;
  margin: 5px 10px;
}

.btn-list:hover {
  background-color: rgb(141, 25, 25);
  transition: 0.7s;
}

.btn-list:focus {
  background-color: rgb(141, 25, 25);
  border: 3px solid rgb(112, 43, 43);
}

.btn-list_2{
  background-color: rgba(180, 93, 152, 0.92);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px;
  min-height:30px;
  min-width: 50px;
  margin: 5px 10px;
}
select{
  width: 120px;
  height: 35px;
  padding: 4px;
  margin:2px 12px ;
  border-radius:4px;
  box-shadow: 2px 2px 8px #999;
  background: rgba(218, 113, 184, 0.92);
  border: none;
  outline: none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  color: white;

}

option{
  :hover{
    background-color: #D8093A;
  }
}
