<div class="logo">
    <ng-container>
        <img src="assets/imgs/user_icon.png" width="120" height="160">
    </ng-container>
</div>
<div class="user-info">
    <ng-container *ngIf="name">
        <p>Користувач: {{name}} </p>
    </ng-container>
    <ng-container *ngIf="email">
        <p>Пошта: {{email}} </p>
    </ng-container>
    <ng-container *ngIf="phone">
        <p>Номер телефону: {{phone}} </p>
    </ng-container>
</div>
<div class="all-users" *ngIf="allUsers$ | async as allUsers">
    <ul>
      <li *ngFor=" let user of allUsers">
        <img [src]="getSource(user.id_user)" style="width: 25px; height: 25px">{{user.name}}

      </li>
    </ul>

</div>

