<ng-content></ng-content>
<form (ngSubmit)="onSubmit(userForm)" #userForm = "ngForm" class="user-edit-form">
    <p class="header-form-update"><b>Редагувати свої дані:</b></p>

    <div class="formGroup">
      <label>Введіть нове ім'я:</label> <br>
      <input type="text" name="name"
             [(ngModel)]='user.name'
             ngModel #name = 'ngModel'> <br> <br>
    </div>

    <div class="formGroup">
      <label>Введіть новий адрес пошти:</label> <br>
      <input type="email" name="email"
             [(ngModel)]='user.email'
             ngModel #email = 'ngModel'> <br> <br>
    </div>

    <div class="formGroup">
      <label>Введіть новий номер телефону:</label> <br>
      <input type="text" name="phone"
             [(ngModel)]='user.phone'
             ngModel #phone = 'ngModel'> <br> <br>
    </div>

    <div class="formGroup">
      <label>Введіть новий пароль:</label> <br>
      <input type="password" name="password"
             [(ngModel)]='user.password'
             ngModel #password = 'ngModel'> <br> <br>
    </div>


    <div class="formGroup">
      <button type="submit" class="btn-update-user">Добавить в базу</button>
    </div>


</form>

